@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=poppins:100,200,300,400,500,600,700,800,900');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
--clr: rgb(0, 38, 66);
}

/* Comeco */

* {
    margin: 0;
    font-family: 'Bubblegum Sans', cursive;
}

h2 {
    font-size: 30px;
}

/* Navbar */

#navbar {
    background-color: rgb(0, 38, 66);
    color: white;
    padding: 0 15px;
    height: 150px;
    text-align: center;
}

#navbar h2, #navbar ul, #navbar-list li, #navbar nav {
    display: inline-block;
}

#navbar h2 {
    margin: 0;
    line-height: 60px;
    margin-left: 55px;
}

#navbar img {
    height: 50px;
    position: absolute;
    top: 10px;
    height: 120px;
}

#navbar nav{
    float: right;
    line-height: 46px;
}

#navbar ul {
    margin-top: 40px;
    margin-bottom: 50px;
}

#navbar li {
    margin: 20 10px;
    left: 1px;
}

#navbar-list li a {
    text-decoration: none;
    color: black;
}

.navigation {
    position: relative;
    width: 400px;
    height: 71px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-image: url('../fotos/lobo_fim.jpg');
}

.navigation ul {
display: flex;
width: 350px;
}

.navigation ul li {
position: relative;
list-style: none;
width: 66px;
height: 50px;
z-index: 1;
}

.navigation ul li a {
position: relative;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
width: 100%;
text-align: center;
font-weight: 500;
}

.navigation ul li a .icon {
position: relative;
display: block;
line-height: 75px;
font-size: 1.5em;
text-align: center;
transition: 0.5s;
color: var(--clr);
}

.navigation ul li.active a .icon {
transform: translateY(-32px);
}

.navigation ul li a .text {
position: absolute;
color: var(--clr);
margin-top: 15px;
font-weight: 400;
font-size: 0.75em;
letter-spacing: 0.05em;
transition: 0.5s;
opacity: 0;
transform: translateY(20px)
}

.navigation ul li.active a .text {
opacity: 1;
transform: translateY(10px)
}

.indicator {
position: absolute;
top: -50%;
width: 70px;
height: 70px;
background: #29fd;
border-radius: 50%;
border: 6px solid var(--clr);
transition: 0.5s;
}

.indicator::before {
content: '';
position: absolute;
top: 51%;
left: -38%;
width: 20px;
height: 20px;
background: transparent;
border-top-right-radius: 20px;
box-shadow: 1px -10px 0 0 var(--clr);
}

.indicator::after {
content: '';
position: absolute;
top: 51%;
right: -38%;
width: 20px;
height: 20px;
background: transparent;
border-top-left-radius: 20px;
box-shadow: -1px -10px 0 0 var(--clr);
}

.navigation ul li:nth-child(1).active ~ .indicator {
transform: translateX(calc(70px *0));
}
.navigation ul li:nth-child(2).active ~ .indicator {
transform: translateX(calc(70px *1));
}
.navigation ul li:nth-child(3).active ~ .indicator {
transform: translateX(calc(70px *2));
}
.navigation ul li:nth-child(4).active ~ .indicator {
transform: translateX(calc(70px *3));
}
.navigation ul li:nth-child(5).active ~ .indicator {
transform: translateX(calc(70px *4));
} 

/* Banner */

#banner {
    height:  100vh;
    background-image: url('../fotos/lobo_fim.jpg');
    background-size: cover;
    padding-top: 2vh;
}

#banner-info {
    width: 40%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    color: black;
    padding: 30px;
}

#banner-info img {
    height: 120px;
    border-radius: 80%;
    background-color: rgb(0, 38, 66);
    margin-top: 60px;
    margin-bottom: 20px;
    line-height: 400px;
}

#banner-info p {
    background-color: rgb(0, 38, 66);
    color: white;
    font-weight: bold;
    width: 200px;
    margin-right: auto;
    margin-left: auto;
    padding: 5px;
}

#banner .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.banner-container {
    flex: 2 2 2;
    text-align: center;
    padding: 25px 25px;        
}

.banner-container h2 {
    color: rgb(0, 38, 66);
    font-size: 20px;
}

.banner-container img {
    height: 70px;
    margin-bottom: 5px;
}

.banner-container .subtitle {
    font-weight: bold;
    color: rgb(0, 38, 66);
    margin-top: 50px;
    margin-bottom: 15px;
}

.banner-container p {
    line-height: 25px;
}

/* About */

#about {
    text-align: center;
    background-color: rgb(0, 38, 66);
    color: white;
    padding: 50px;
    height: 590px;
}

#about h2 {
    margin-bottom: 30px;
    line-height: auto;
}

#about p {
    max-width: 650px;
    margin-right: auto;
    margin-left: auto;
    line-height: 30px;
}

#about-tabela {
    margin-left: auto;
    margin-right: auto;
}
#about-tabela td {
    background-color: rgba(168, 168, 168, 0.856);
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
}
#about-tabela td.ce {
    color: white;
    background-color: rgb(0, 38, 66);
    vertical-align: top;
    font-weight: bold;
}
#about-tabela td.cd {
    color: black;
}
#about-tabela caption {
    color: white;
    font-size: 13pt;
    font-weight: bolder;
    line-height: 25px;
}
#about-tabela caption span {
    display: block;
    float: right;
    color: black;
    font-size: 8pt;
    margin-top: 10px;
}

/* Skills */

#skills {
    margin-top: -100px;
    background-color: white;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

#skills .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.skills-container {
    flex: 2 2 2;
    text-align: center;
    padding: 60px 25px;    
}

.skills-container h3 {
    color: rgb(0, 38, 66);
    font-size: 20px;
}

.skills-container img {
    height: 80px;
    margin-bottom: 25px;
}

.skills-container .subtitle {
    font-weight: bold;
    color: rgb(0, 38, 66);
    margin-top: 50px;
    margin-bottom: 15px;
}

.skills-container p {
    line-height: 25px;
}

/* Links */

#links {
    text-align: center;
    padding-top: 50px;
}

#links h2 {
    color: rgb(0, 38, 66);
    margin-bottom: 30px;
}

#links p {
    margin-bottom: 50px;
}

#Links a {
    font-weight: bold;
    color: rgb(0, 38, 66);
}

#links-fotos {
    width: 700px;
    margin: 0 auto;
    padding: 50px;
    overflow: hidden;
    list-style: none;
    line-height: 40px;
}

#links-fotos li {
    float: left;
    width: 180px;
    height: 200px;
    margin: 10px;
    background-color: rgb(0, 38, 66);
    box-shadow: 2px 2px 4px;
    -webkit-transition: all 0.5s ease-in;
}

#links-fotos li a div span {
    opacity: 0;
    color: black;
    text-shadow: 2px, 2px, 4px white;
    background-color: rgb(0, 38, 66);
    font-size: 9pt;
    line-height: 370px;
    padding: 5px;
}

#links-fotos li:hover {
    -webkit-transform: scale(1.5);
}

#links-fotos li:hover a div span {
    opacity: 1;
}

#links-fotos #Foto01 {
    background: url('../fotos/proj1.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: white;
}
#links-fotos #Foto01:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}

#links-fotos #Foto02 {
    background: url('../fotos/proj2.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: white;
}
#links-fotos #Foto02:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}

#links-fotos #Foto03 {
    background: url('../fotos/proj3.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: white;
}
#links-fotos #Foto03:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;

} 
/* footer */

footer {
    padding: 50px 0;
    background-color: rgb(0, 38, 66);
    color: white;
    text-align: center;
}

footer img {
    height: 110px;
    border-radius: 50%;
    background-color: rgb(0, 38, 66);
    margin-top: 30px;
    margin-bottom: 30px;
}

footer p {
    margin-top: 25px;
}

footer form {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

footer input, footer textarea, footer button {
    padding: 15px;
    box-sizing: border-box;
    margin-bottom: 20px;
    width: 100%;
    display: block;
}

footer .detail {
    font-weight: bold;
}